.container {
	padding: 5px 10px;
	width: 100%;
	max-width: 250px;
	overflow-wrap: break-word;
	font-weight: 600;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 7px 14px rgb(11 31 53 / 10%);
	cursor: pointer;
	transition: all 0.4s;
}

.container:hover {
	transform: scale(110%);
	box-shadow: 0 7px 14px rgb(11 31 53 / 50%);
}

.username {
	transition: all 0.4s;
}

@media screen and (max-width: 320px) {
	.username {
		font-size: 1.2rem;
	}
}
