.container {
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 500px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 7px 14px rgb(11 31 53 / 10%);
  cursor: pointer;
}

.post-title {
  font-size: 1.5rem;
}

.post-body {
  font-size: 1rem;
}
